/* You can add global styles to this file, and also import other style files */
/* Remove default spacing */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Prevent scroll issue */
body {
  overflow: hidden;
}